#nav-bar-logo {
    width: 25%;
    height: auto;
}

.nav-bar {
    display: flex;
    width: 60%;
    margin: 0 auto;
    align-items: stretch;
    background: transparent;
}

.logo {
    padding-left: 0;
}

.menu-punkte {
    text-align: center; /* Zentriere die Links horizontal */
    display: flex; /*damit links am richtigen ort stehen*/
    font-size: 15px;
    width: 40%;
    margin-left: auto; /*das div wird ganz links plaziert*/
    align-items: center; /* Zentriere den Inhalt vertikal */
    justify-content: space-around; /*links bekommen alle den gleichen abstand*/
}

.menu-punkte a {
    display: inline-block; /* Stelle sicher, dass die Links nebeneinander stehen */
    margin: 0 10px; /* Füge horizontalen Abstand zwischen den Links hinzu */
}


@media (max-width: 480px) {/* kleine Smartphones */
    .nav-bar {
        margin-left: 0;
        padding-left: 0;
    }
    .menu-punkte {
        text-align: center; /* Zentriere die Links horizontal */
        display: flex; /*damit links am richtigen ort stehen*/

        margin-left: auto; /*das div wird ganz links plaziert*/
        align-items: center; /* Zentriere den Inhalt vertikal */
        justify-content: space-around; /*links bekommen alle den gleichen abstand*/
    }

    .menu-punkte a {
        display: inline-block; /* Stelle sicher, dass die Links nebeneinander stehen */
        margin: 0 10px; /* Füge horizontalen Abstand zwischen den Links hinzu */
    }
}