@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
}

.nav-bar {
    padding-bottom: 5px;
}

/* Hamburger Menu Styles */
.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    right: 50px;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #333;
}

/* Hamburger icon hover effect */
.hamburger:hover {
    cursor: pointer;
}

/* Dropdown menu styles */
.nav-links {
    display: none; /* Hide links initially */
    position: absolute;
    right: 0;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.nav-links a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: black;
}

.nav-links a:hover {
    background-color: #ddd;
}

/* Show dropdown menu on hamburger icon click - assuming JavaScript toggles an 'active' class */
.nav-bar .active {
    display: block;
}

.breadcrumb {
    display: flex;
    margin-top: 5px;
    flex-wrap: wrap;
    padding: 8px 15px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.breadcrumb-item {
    display: flex;
    align-items: center;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "\00a0/\00a0"; /* Fügt ein Leerzeichen vor und nach dem Trennzeichen hinzu */
    color: #6c757d;
}

.breadcrumb li {
    display: inline;
    margin-right: 5px;
}

.breadcrumb a {
    font-size: 15px;
    text-decoration: none;
}

.breadcrumb a:after {
    content: '> ';
    margin-left: 5px;
}

.breadcrumb a:last-child:after {
    content: '';
}

.introduction {
    display: flex;
    margin: 50px 0 80px 0;
    width: 100%;
    height: auto;
    justify-content: space-between;
}

.first-img {
    display: flex;
    width: 50%;
    height: 100%;
    margin-left: auto;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 10px;
}

.img-first {
    display: flex;
    width: 40vw;
    height: 90vh;
    border-radius: 10px;
}

.first-content {
    width: 50%;
    align-self: center;
    padding-bottom: 5%;
}

.first-title {
    margin: 0;
    font-family: Luminari, fantasy;
    font-size: 100px;
    padding-bottom: 10%;
    color: #5f3ddc;
}

.first-text {
    font-family: Courier, monospace;
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold;
    width: 80%;
    color: black;
}

/* Bilder css */
.container {
    position: relative;
    width: 1160px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;
    margin: auto;
}
.container .box {
    position: relative;
    width: 275px;
    height: 275px;
    background: #ffffff;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin-right: 15px;
    margin-top: 45px;
}

.container:hover .box {
    transform: rotateY(25deg);
}

.container .box:hover ~ .box {
    transform: rotateY(-25deg);
}

.container .box:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
}

.container .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .box .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,#5f3ddc, #000000);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
}

.container .box:hover .imgBx:before {
    opacity: 1;
}

.container .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
}

.container .box .content h2 {
    color: white;
    transition: 0.5s;
    font-family: Courier, monospace;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
    transition-delay: 0.3s;
}

.container .box:hover .content h2 {
    transform: translateY(0px);
}
.container .box .content p {
    color: white;
    font-family: Courier, monospace;
    transition: 0.5s;
    font-size: 14px;
    transform: translateY(200px);
    transition-delay: 0.4s;
}
.container .box:hover .content p {
    transform: translateY(0px);
}

/* FOOTER CSS */
footer {
    width: 100%;
    margin-top: 100px;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section {
    padding: 20px;
    flex: 1;
}

.footer-section h3 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #777;
}

@media (max-width: 600px) {
    body {
        font-size: 20px;
    }

    .hamburger {
        display: block;
        position: absolute;
        right: 10px; /* Postive Werte, um das Icon innerhalb des sichtbaren Bereichs zu verschieben */
        top: 10px;
        z-index: 2; /* Stellen Sie sicher, dass das Hamburger-Icon über dem Dropdown-Menü liegt */
    }

    .nav-links {
        display: none;
        position: absolute;
        right: 10px; /* Setzen Sie es auf denselben Wert wie das Hamburger-Menü, um es auszurichten */
        top: 50px; /* Der Wert sollte der Höhe des Hamburger-Menü-Icons plus etwas Abstand entsprechen */
        background-color: #fff;
        width: calc(100% - 20px); /* Passen Sie die Breite an, sodass sie innerhalb der Seitenränder bleibt */
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .menu-punkte {
        margin: 0;
        padding: 0;
    }

    .nav-links.active {
        display: block;
    }

    .nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-punkte a {
        visibility: hidden;
    }

    .breadcrumb {
        visibility: hidden;
    }

    /* Stellt die Breite der Hauptcontainer ein */
    .introduction, .container {
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-bottom: 5vh;
    }

    .first-img {
        display: flex;
        justify-content: center; /* Zentriert die Child-Elemente horizontal */
        align-items: center; /* Zentriert die Child-Elemente vertikal */
        width: 100%; /* Stellt sicher, dass der Container die volle Breite einnimmt */
    }

    .img-first {
        margin: 20px auto; /* Zentriert das Bild innerhalb seines Containers */
        width: 80%; /* Beispiel: Reduziert die Breite des Bildes auf 80% des Containers, anpassen nach Bedarf */
        height: auto; /* Passt die Höhe automatisch an die Breite an */
    }

    /* Passt die Bilder und Inhalte innerhalb der Einführung und Container an */
    .first-img, .imgBx, .first-content, .content {
        display: flex;
        width: 90%;
        height: auto;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .first-content {
        flex-direction: column;
    }

    .first-title {
        font-size: 50px;
    }

    .first-text {
        font-size: 15px;
    }

    .container .box .content h2, .container .box .content p {
        text-align: center;
        font-size: 20px;
        background-color: rgba(20, 20, 20, 0.3);
        border-radius: 25px;
        transform: translateY(0);
    }

    .container .box {
        width: 90%; /* Etwas Abstand zu den Seitenrändern */
        margin: 20px auto; /* Erhöht den Abstand zwischen den Boxen */
        flex-direction: column;
    }

    .content h2 {
        text-align: center;
        transform: translateY(0);
        font-size: 18px;
    }

    .container .box, .container .box .content p {
        text-align: center;
        transform: translateY(0);
        font-size: 15px;
    }

    .content {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }

    /* Anpassungen für den Footer-Bereich */
    .footer-content {
        flex-direction: column;
    }

    .footer-section {
        text-align: center;
        padding: 10px;
        width: 100%;
    }

}

@media (max-width: 1024px) {

}

@media screen and (max-height: 600px) and (orientation: landscape) {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }
    .box {
        width: 51%;
        height: auto;
        margin: 1%;
    }
    .breadcrumb {
        visibility: hidden;
    }
    .conten-div {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }

}
