@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.nav-bar {
    padding-bottom: 5px;
}
.breadcrumb {
    display: flex;
    margin-top: 5px;
    flex-wrap: wrap;
    padding: 8px 15px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.breadcrumb-item {
    display: flex;
    align-items: center;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "\00a0/\00a0"; /* Fügt ein Leerzeichen vor und nach dem Trennzeichen hinzu */
    color: #6c757d;
}

.breadcrumb li {
    display: inline;
    margin-right: 5px;
}

.breadcrumb a {
    font-size: 15px;
    text-decoration: none;
}

.breadcrumb a:after {
    content: '> ';
    margin-left: 5px;
}

.breadcrumb a:last-child:after {
    content: '';
}

.introduction {
    margin: 0 auto;
    width: 60%;
    display: flex;
    align-items: stretch;
    height: 800px;

}

.first-img {
    width: 50%;
    height: 100%;
    margin-left: auto;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.img-first {
    width: auto;
    height: 750px;
    border-radius: 10px;
}

.first-content {
    width: 50%;
    align-self: center;
    padding-top: 10%;
}

.first-title {
    margin: 0;
    font-family: Luminari, fantasy;
    font-size: 100px;
    padding-bottom: 10%;
    color: #5f3ddc;
}

.first-text {
    font-family: Courier, monospace;
    font-size: 20px;
    color: black;
}

/* Bilder css */
.container {
    position: relative;
    width: 1160px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;
    margin: auto;
}
.container .box {
    position: relative;
    width: 275px;
    height: 275px;
    background: #ffffff;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin-right: 15px;
    margin-top: 45px;
}
.container:hover .box {
    transform: rotateY(25deg);
}
.container .box:hover ~ .box {
    transform: rotateY(-25deg);
}
.container .box:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
}
.container .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container .box .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,#5f3ddc, #000000);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
}
.container .box:hover .imgBx:before {
    opacity: 1;
}
.container .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
}
.container .box .content h2 {
    color: white;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
    transition-delay: 0.3s;
}
.container .box:hover .content h2 {
    transform: translateY(0px);
}
.container .box .content p {
    color: white;
    transition: 0.5s;
    font-size: 14px;
    transform: translateY(200px);
    transition-delay: 0.4s;
}
.container .box:hover .content p {
    transform: translateY(0px);
}
.box {

}
.conten-div {

}

/* FOOTER CSS */
footer {
    width: 100%;
    margin-top: 100px;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section {
    padding: 20px;
    flex: 1;
}

.footer-section h3 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #777;
}


@media (max-width: 600px) {/* moderne smartphones */
    * {
        pointer-events: none;
        padding: 0;
        margin: 0;
    }
    .nav-bar {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    /* Stellt die Breite der Hauptcontainer ein */
    .introduction, .container {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    /* Passt die Bilder und Inhalte innerhalb der Einführung und Container an */
    .first-img, .imgBx, .first-content, .content {
        width: 90%;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .first-content {
        margin-top: 10%;
        flex-direction: column;
    }

    .img-first {
        max-height: 400px;
    }

    /* Passt den Titel und Text im Einführungsabschnitt an */
    .first-title {
        font-size: 48px;
        padding: 5% 0;
    }

    .first-text {
        font-size: 16px;
    }

    /* Stellt sicher, dass Boxen und deren Inhalt korrekt dargestellt werden */
    .container .box {
        width: 90%; /* Etwas Abstand zu den Seitenrändern */
        margin: 20px auto; /* Erhöht den Abstand zwischen den Boxen */
        flex-direction: column;
    }

    /* Passt die Überschriften und Texte in den Boxen an */
    .container .box .content h2, .container .box .content p {
        text-align: center;
        transform: translateY(0);
    }

    /* Anpassungen für den Footer-Bereich */
    .footer-content {
        flex-direction: column;
    }

    .footer-section {
        text-align: center;
        padding: 10px;
        width: 100%;
    }

    .menu-punkte a {
        display: block;
        margin: 5px 0;
    }

    .breadcrumb {
        visibility: hidden;
    }
    .conten-div {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }
}
@media screen and (max-height: 600px) and (orientation: landscape) {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }
    .box {
        width: 51%;
        height: auto;
        margin: 1%;
    }
    .breadcrumb {
        visibility: hidden;
    }
    .conten-div {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }

}
