*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 98vh;
    width: 98vw;
}


#containerAlle{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#joystick-container{
    height: 90%;
    width: 40%;
}

#containeriframe{
    margin-top: 0.5%;
    position: relative;


    width: 100%;
    height: 100%;
}

#nipple_0_0{
    position: relative;
    width: 10%;
    height: 10%;
}

iframe{
    width: 100%;
    height: 100%;
}

@media (max-width: 600px) {
    #containerAlle{
        flex-flow: wrap;
    }
}

@media screen and (max-height: 600px) and (orientation: landscape) {
    #nipple_0_0{
        width: 30%;
        height: 30%;
    }
    #containeriframe{

    }
}