/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

/* Apply font family */
body {
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    height: 100vh;
    line-height: 1.6;
    font-size: 20px;
    color: #333;
    background: #fff; /* Assuming a white background; change if needed */
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    max-width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    margin: 10% 10% 0 10%;
    padding: 10px;
}

/* Breadcrumbs styles */
.breadcrumbs {
    position: relative;
    max-width: 80%;
    left: 195px;
    top: 220px;
    font-size: 0.9rem;
    margin-bottom: 24px; /* Space between breadcrumbs and title */
    color: #6c757d; /* Assuming a grey color; change if needed */
}

.breadcrumbs li {
    display: inline;
    margin-right: 5px;
}

.breadcrumbs a {
    font-size: 15px;
    text-decoration: none;
}

.breadcrumbs a:after {
    content: '>';
    margin-left: 5px;
}

.breadcrumbs a:last-child:after {
    content: '';
}

/* Smartphones (Portrait und Landscape) */
@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        margin: 5%;
    }

    .unternehmenswerte, .bild-container {
        width: 100%;
        margin: 0 auto; /* Zentriert die Inhalte */
    }

    .breadcrumbs {
        left: 10px;
        top: 120px;
        font-size: 0.8rem; /* Verkleinert die Schriftgröße für Breadcrumbs */
    }
}

/* Tablets (Portrait und Landscape) */
@media only screen and (min-width: 601px) and (max-width: 900px) {
    .container {
        flex-direction: column;
        margin: 5%;
    }

    .unternehmenswerte, .bild-container {
        width: 100%;
        margin: 0 auto;
    }

    .breadcrumbs {
        left: 10px;
        top: 150px;
        font-size: 0.9rem;
    }
}

/* Desktop */
@media only screen and (min-width: 901px) {
    /* Beibehalten der Standard-Styles, eventuell leichte Anpassungen */
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 18px; /* Kleinere Schriftgröße für Mobilgeräte */
    }
}

.team-mitglied {
    display: flex;
    align-items: center;
    margin-bottom: 2rem; /* Abstand zwischen Teammitgliedern */
    max-width: 960px; /* Maximale Breite des Blocks */
    margin-left: auto; /* Horizontal zentriert */
    margin-right: auto; /* Horizontal zentriert */
}

.team-mitglied-bild {
    border-radius: 50%; /* Kreisförmiges Bild */
    width: 150px; /* Bildbreite */
    height: 150px; /* Bildhöhe */
    margin-right: 1.5rem; /* Abstand zwischen Bild und Beschreibung */
    object-fit: cover; /* Sorgt dafür, dass das Bild das Element vollständig ausfüllt */
}

.team-mitglied-info {
    flex: 1;
}

.team-mitglied-rolle {
    font-weight: bold; /* Hebt die Rolle hervor */
    margin-bottom: .5rem; /* Abstand zwischen Rolle und Beschreibung */
}

@media only screen and (max-width: 600px) {
    .team-mitglied {
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 100%; /* Ermöglicht eine volle Breite auf kleinen Bildschirmen */
    }

    .team-mitglied-bild {
        margin-bottom: 1rem; /* Abstand zwischen Bild und Beschreibung auf mobilen Geräten */
    }
}
