/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

/* Apply font family */
body {
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    height: 100vh;
    line-height: 1.6;
    color: #333;
    background: #fff; /* Assuming a white background; change if needed */
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    max-width: 100%;
    font-size: 20px;
    height: auto;
    justify-content: space-between;
    align-items: center;
    margin: 10% 10% 0 10%;
    padding: 10px;
}


.breadcrumb {
    display: flex;
    margin-top: 5px;
    flex-wrap: wrap;
    padding: 8px 15px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.breadcrumb-item {
    display: flex;
    align-items: center;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "\00a0/\00a0"; /* Fügt ein Leerzeichen vor und nach dem Trennzeichen hinzu */
    color: #6c757d;
}

.breadcrumb li {
    display: inline;
    margin-right: 5px;
}

.breadcrumb a {
    font-size: 15px;
    text-decoration: none;
}

.breadcrumb a:after {
    content: '> ';
    margin-left: 5px;
}

.breadcrumb a:last-child:after {
    content: '';
}

.team-mitglied {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 10rem auto 2rem auto;
    max-width: 960px; /* Maximale Breite des Blocks */
}

.team-mitglied-bild {
    border-radius: 50%; /* Kreisförmiges Bild */
    width: 190px; /* Bildbreite */
    height: 190px; /* Bildhöhe */
    margin-right: 1.5rem; /* Abstand zwischen Bild und Beschreibung */
    object-fit: cover; /* Sorgt dafür, dass das Bild das Element vollständig ausfüllt */
}

.team-mitglied-info {
    flex: 1;
}

.team-mitglied-rolle {
    font-weight: bold; /* Hebt die Rolle hervor */
    margin-bottom: .5rem; /* Abstand zwischen Rolle und Beschreibung */
}

/* Media Queries für eine verbesserte Responsivität */
@media (max-width: 1024px) {
    .container {
        flex-direction: column; /* Ändert die Flex-Richtung für kleinere Bildschirme */
    }
}

@media (max-width: 768px) {
    body {
        font-size: 18px; /* Kleinerer Text auf Tablets und kleineren Geräten */
    }
}

@media (max-width: 480px) {
    body {
        font-size: 16px; /* Anpassung der Textgröße für eine bessere Lesbarkeit auf Smartphones */
    }
}

/* Responsive Anpassungen */
@media (max-width: 768px) {
    .breadcrumb {
        flex-direction: column;
    }

    .breadcrumb-item + .breadcrumb-item::before {
        content: "→\00a0"; /* Ändert das Trennzeichen für kleinere Bildschirme */
    }
}